---
const { bg = '#0d1117' } = Astro.props;
---
<div class="code-texture" style={`background: ${bg}`}>
  <div class="cl l hi"></div>
  <div class="cl m blu"></div>
  <div class="cl s"></div>
  <div class="cl l"></div>
  <div class="cl m hi"></div>
  <div class="cl ind grn"></div>
  <div class="cl l"></div>
  <div class="cl s hi"></div>
  <div class="cl m"></div>
  <div class="cl l blu"></div>
</div>
